{{ define "main" }}

<article class="prose mx-auto max-w-screen-lg prose-headings:text-gray-600">
  <section class="pt-20 pb-4">
    <div class="flex w-full flex-col text-center">
      <h1 class="">{{ .Title }}</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">
        {{ .Description }}
      </p>
    </div>
  </section>
  <div class="px-5">{{ .Content }}</div>
</article>

<div>
  <hr
    class="mx-auto my-4 h-1 max-w-screen-md rounded border-0 bg-gray-100 dark:bg-gray-700 md:my-10"
  />
  {{- partial "list/posts.html" . -}}
</div>

{{ end }}
